{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset your password</title>
    <link rel="stylesheet" href="{% static 'login.css' %}"/>
</head>
<body>
    <div class="container">
        <nav>
        <img class="logo" src="{% static 'img/images/logo frame.svg' %}" alt="logo" />
        </nav>
        <div class="center-box">
            <div class="sized">
                {% block content %}
                <h1>Reset your password</h1>
            </div>
            <div>
                <p>We've emailed you instructions for setting your password.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>