{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgotten Password Page</title>
    <link rel="stylesheet" href="{% static 'login.css' %}"/>
</head>
<body>
    <div class="container">
        <nav>
        <img class="logo" src="{% static 'img/images/logo frame.svg' %}" alt="logo" />
        </nav>
        <div class="center-box">
            <div class="sized">
                {% block content %}
                <h1>Forgot Password?</h1>
                <span>No worries, we will send you reset instructions</span>
            </div>
            <br>
            <br>
            <form action="." method="post">
                {% csrf_token %}
                <div>
                    <label class="lbl"><b>Email Address</b></label>
                        {{ form.email }}
                    {% comment %} <input type="text" placeholder="Enter email Address" name="email" required> {% endcomment %}
                </div>
                <br>
                <div>
                    <button type="submit" value="Send e-mail" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <br>
            <div class="arrow">
                <a href="{% url 'Authy:login' %}"><big class="arr">&#8592;</big><p class="bck">Back to login</p></a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>