{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset your Password</title>
    <link rel="stylesheet" href="{% static 'login.css' %}"/>
</head>
<body>
    <div class="container">
        <nav>
        <img class="logo" src="{% static 'img/images/logo frame.svg' %}" alt="logo" />
        </nav>
        <div class="center-box">
            <div class="sized">
            {% block content %}
                <h1>Reset your Password</h1>
            {% if validlink %}
                <p>Please enter your new password twice:</p>
            </div>
            <br>
            <br>
            <form action="." method="post">
                {% csrf_token %}
                <div>
                    {% comment %} <label class="lbl"><b>Email Address</b></label> {% endcomment %}
                    {{ form.as_p }}
                    {% comment %} <input type="text" placeholder="Enter email Address" name="email" required> {% endcomment %}
                </div>
                <br>
                <div>
                    <button type="submit" value="Change my password" class="btn btn-primary">Submit</button>
                </div>
            </form>
            {% else %}
            <br>
            <div>
                <p>The password reset link was invalid, possibly because it has already been used.Please request a new password reset.</p>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</body>
</html>