.f-div{
    /* height: 40%; */
    /* border: 2px solid red; */
    /* background-color: rgb (0.96, 0.96, 0.96, 1.0); */
    /* background-color: blue; */
}
.s-div{
    /* height: 60%; */
    /* border: 2px solid green; */
}
.t-div{
    height: 40%;
    border: 2px solid blue;
}
.li-div{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    width: 15%;

}
.button-div{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 300px;

}
.button-jus{
    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
}
.b-whd{
    border: 3px solid blue;
    color: blue;
}
.contact{
    color: blue;
}
.have{
    color: blue;
    font-size: 90px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.disc{
    
}
.thank{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 500;
}
.say-hi{
    font-size: 80px;
    font-weight: 500;
    color: blue;
}
.we-p{
    font-size: 30px;
    font-weight: 500;
}
.fill-div{
    border: 5px solid blue;
    border-radius: 10px;
    font-size: 20px;
    width: 600px;
}
.cover-l{
    height: 290px;
}
.subm-div{
    font-size: 25px;
}
.fe{
    color: burlywood;
    font-size: 23px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ho{
    color: white;
    font-size: 20px;
    font-weight: 400;
}
i{
    color: burlywood;
    font-size: 30px;
}
.hoer{
    margin-left: -500px;
}