@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: #F6F6F6;
  padding: 30px 10%;
  cursor: pointer;
}
a {
  text-decoration: none;
}
p {
  font-family: 'IBM Plex Sans', sans-serif;
}
ul {
  list-style: none;
}
.container{
   max-width: 1440px;
   height: 0 auto;
   margin: 0 auto;
   overflow: hidden;
}
.navbr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.logo{
  cursor: pointer;
}
ul li, p, a{
  transition: all 0.1s ease 0s;
  text-decoration: none;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

h1 {
  margin-top: 66px;
  color: #196DDC;
}
p {
  margin-top: 8px;
}
 
 form{
   margin-top: 5px;
 }
 .sign-up-form {
  margin-top: 50px;
 }
 .sign-up-form .form-control {
   margin: 30px 0;
 }
 
 .sign-up-form input[type='text'],
 .sign-up-form input[type='email'],
 .sign-up-form input[type='button'],
 .sign-up-form input[type='password'] 
 {
   padding: 10px;
   font-size: 16px;
   width: 75%;
 }
.signup-image img{
  margin-bottom: 15px;
}
.sign-up-btn {
   padding: 5px 20px;
   margin: 5px;
   background-color: #047aed;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
span {
   margin-left: 5px;
}

@media (max-width: 600px) {
  .logo{
    cursor: pointer;
    width: 100%;
  }
  h1 {
    margin-top: 66px;
    font-size: 45px;
  }
  .container{
    max-width: 428px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
 }
 p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
}
  .nav-links, .but {
    display: none;
  }
  .sign-up-form {
    margin-bottom: 100px;
   }
   .sign-up-image {
    display: none;
   }
  .sign-up-form .form-control {
    margin: 15px 0;
  }
  .sign-up-form input[type='text'],
 .sign-up-form input[type='email'],
 .sign-up-form input[type='button'],
 .sign-up-form input[type='password'] 
 {
  display: flex;
    justify-content: center;
    align-items: center;
   padding: 15px;
   font-size: 16px;
   width: 100%;
 }
 .grid {
  display: grid;
  grid-template-columns: 1fr;
}
.sign-up-image img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  margin-right: 100px;
  width: 100%;
}

}
