@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: #F6F6F6;
  margin: 0;
  padding: 0;
}
/* started styling of nav bar */
.navbr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 6%;
}
/* line 30 was set so that all the texts can take the necessary properties, take note of the tags, so you won't make a mistake */
ul li, p, footer ul a{
  transition: all 0.1s ease 0s;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.nav-links{
  list-style: none;
}
.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}
li a{
  transition: all 0.1s ease 0s;
  text-decoration: none;
  color: #2A2A2A;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.nav-links li a:hover{
  color: #FC9242;
}
nav ul .blue{
  color: #196DDC;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
/* if you have other buttons in the page, take note of the focus and hover, they are similar properties */
.btn-secondary{
  width: 122px;
  height: 48px;
  left: 1079px;
  font-family: 'IBM Plex Sans', sans-serif;
  top: 32px;
  background: #F6F6F6;
  border: 3px solid #196DDC;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #196DDC;
  margin-right: 7px;
  cursor: pointer;
}
.btn-secondary:hover{
  border: 3px solid #114993;
  box-shadow: 0px 1px 8px 1px #114993;
}
.btn-secondary:focus{
  border: 3px solid #082449;
  color: #082449;
}
/* btn-tertiary is the common button used */
.btn-tertiary{
  width: 122px;
  height: 48px;
  left: 119px;
  font-family: 'IBM Plex Sans', sans-serif;
  background: #196DDC;
  border: 2px solid #196DDC;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #F6F6F6;
  cursor: pointer;
}
.btn-tertiary:hover{
  background: #114993;
  color: #FFFFFF;
}
.btn-tertiary:focus{
  background: #082449;
}
/* nav bar ends here */
/* you can code the rest of the body here */
.box-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 100vh;
  margin-top: -7px;
  width: 100%;
}
.img-1{
  margin-right: 100px;
}
.para-1{
  margin-bottom: 140px;
  margin-left: 80px;
}
h1{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  color: #196DDC;
  flex: none;
  white-space: nowrap;
}
.editme{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #454545;
  flex: none;
}
.box-2{
  width: 1348px;
  height: 805px;
  background: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 30px;
}
.chat{
  text-align: center;
}
h2{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  align-items: center;
  text-align: center;
  color: #196DDC;
}
.todo{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  color: #454545;
}
.feedback-form{
  box-sizing: border-box;
  width: 488px;
  height: 627px;
  border: 4px solid #196DDC;
  filter: drop-shadow(0px 20px 27px rgba(0, 0, 0, 0.05));
  border-radius: 16px;
  padding: 30px 70px;
}
.btn-primary{
  justify-content: center;
  align-items: center;
  padding: 8px 48px;
  gap: 16px;
  width: 320px;
  height: 56px;
  background: #196DDC;
  border-radius: 4px;
  flex: none;
  cursor: pointer;
  border: none;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.btn-primary:focus {
  background-color: #082449;
}
.btn-primary:hover {
  background: #114993;
  color: #FFFFFF;
}
input[type=text]{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 187px;
  width: 320px;
  border: 2px solid #D0D0D0;
  border-radius: 4px;
  color: #2A2A2A;
  font-size: 14px;
  background: #FFFFFF;
}
.letter{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 320px;
  height: 183px;
  border: 2px solid #D0D0D0;
  border-radius: 4px;
  color: #2A2A2A;
  font-size: 14px;
  background: #FFFFFF;
}
label{
  margin-bottom: 10px;
  white-space: nowrap;
}
label.lbl{
  color: #2A2A2A;
}
input, label{
  display: block;
}
label, p{
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}
input::placeholder{
  color: #ADADAD;
}
input:focus, input:hover{
  outline: none;
  border: 2px solid #196DDC;
  border-radius: 4px;
}
label:hover{
  cursor: pointer;
}
/* footer starts here */
footer{
  position: absolute;
  width: 100%;
  height: 304px;
  top: 1610px;
  background: #114993;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
}
footer ul{
  list-style: none;
}
footer ul a:hover{
  color: #FC9242;
}
.orange{
  color: #FC9242;
  font-size: 27px;
}
.oran{
  color: #FC9242;
}
.copyright{
  margin-top: 140px;
  white-space: nowrap;
}
.quicklinks{
  margin-top: -8px;
  margin-right: 200px;
  white-space: nowrap;
}
.features{
  margin-top: 40px;
  white-space: nowrap;
}
.icons ul li{
  display: inline-block;
  padding: 0px 7px;
}
.stretch{
  margin-top: 130px;
  margin-right: 150px;
}
.disclaim{
  margin-left: 25px;
  white-space: nowrap;
}
/* mobile view should come in here */
@media screen and (max-width: 600px){
  body{
      width: 428px;
      height: 926px;
  }
  .img-1, .chat, .editme{
    display: none;
  }
  .box-2{
    width: 420px;
    height: 660px;
    background: #F6F6F6;
    margin-top: -300px;
  }
  .box-1{
    padding: 0;
    margin-left: -53px;
    border: 0;
    margin-top: -180px;
  }
  h1{
    font-size: 50px;
  }
  .feedback-form{
    padding: 0;
    margin: 0;
    border: none;
  }
  input[type=text], .letter{
    background: #F6F6F6;
  }
  footer{
    height: 304px;
    top: 1300px;
    background: #114993;
    padding: 5px;
  }
  .logo-2{
    width: 100px;
  }
  .features{
    margin-left: -12px;
  }
  .quicklinks{
    margin-left: -12px;
  }
  .stretch{
    margin-left: -370px;
    margin-top: 210px;
  }

  
}