{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'about.css' %}">
</head>
<body>
    {% block content %}
    <header>
        <div>
            <div class="navbr">
                <img class="logo" src="{% static 'picture/logo frame.svg' %}" alt="logo" />
                <nav>
                    <ul class="nav-links">
                        <li><a href="{% url 'Authy:home' %}">Home</a></li>
                        <li><p class="blue">About</p></li>
                        <li><a href="{% url 'Authy:contact' %}">Contact</a></li>
                    </ul>
                </nav>
                <div class="but">
                    <a href="{% url 'Authy:login' %}"><button class="btn btn-secondary">Log In</button></a>
                    <a href="{% url 'Authy:register' %}"><button class="btn btn-tertiary">Sign Up</button></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="content">
            <div class="about_header">
                <h2 class="about_us">About Us</h2>
                <p class="paragraph">Metamagic is an online tool that collects and displays metadata <br> of different uploaded file types with a reliable database system <br> that allows storage and export of these files.</p>
                <p class="paragraph">Uploading and saving of files and data on the internet comes in <br> handy in our everyday life, notwithstanding, it exposes <br> sensitive, private details, and compromises our privacy as we go <br> about accomplishing our tasks.</p>
                <p class="paragraph">Metamagic does not only perform the primary function of <br> processing metadata, it also keeps the user details confidential, <br> guarding against cyber attack, not compromising privacy and <br> exports metadata in a snap when required, just like magic!</p>
            </div>
            <div class="img">
                <picture>
                    <img src="{% static 'picture/About Us Infograph Desktop.svg' %}" alt="About Us Image" class="img122">
                </picture>
            </div>
        </section>
        <section class="container">
            <div class="team-profile">
                <h2 class="team-name">The Magic Team</h2>
            </div>
            <div class="img-2">
                <picture>
                    <img src="{% static 'picture/The Magic Team Desktop.svg' %}" alt="The Magic Team" class="img123">
                </picture>
            </div>
        </section>
        
    </main>
    <footer>
        <div>
            <img class="logo-2" src="{% static 'picture/logo-2.svg' %}" alt="logo">
            <p class="copyright">Copyright &copy; 2022.</p>
        </div>
        <div class="features">
            <ul>
                <li class="oran">Features</li>
                <li><a>Generate Metadata</a></li>
                <li><a>Save & Download</a></li>
                <li><a>Embed</a></li>
                <li><a>Share</a></li>
                <li><a>Export</a></li>
            </ul>
        </div>
        <div class="quicklinks">
            <ul>
                <li class="oran">Quicklinks</li>
                <li><a href="{% url 'Authy:about' %}">About Us</a></li>
                <li><a href="{% url 'Authy:contact' %}">Contact Support</a></li>
                <li><a href="https://docs.google.com/document/d/17bwgDRxA6mNDWWl-HUSTkEuZG8i39ip3tEpNJh_AHy8/edit#heading=h.42ji38swbnhs">Documentation</a></li>
            </ul>
        </div>
        <div class="stretch">
            <div  class="icons">
                <ul>
                    <li>
                        <a class="orange" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a class="orange" href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a class="orange" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
            <ul class="disclaim"><li>Disclaimer</li></ul>
        </div>
    </footer>
    {% endblock %}
</body>
</html>