{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'metadata_css\metadatadisplay.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="{% static 'js/metadata.js' %}"></script>
    <title>Metadata Display</title>
  </head>

  <body>
    {% block content %}
    <div class="flex-container">
      <!-- NAVIGATION BAR STARTS-->
      <div class="flex-child magenta">
        <br />

        <div>
          <div id="logo">
            <img id="{% static 'white_logo" src="media/White Logo.png' %}" alt="" />
            <img
              id="close_icon"
              onclick="yokes()"
              src="{% static 'media/delete-circled-outline.png' %}"
              alt=""
            />
          </div>
          <br /><br />

          <!-- USER NAME  -->
          <div id="user_profile">
            <div id="profile_image">
              <img src="{% static 'media\Frame 2.png' %}" alt="" />
            </div>
            <div id="userame_jobtype">
              <div id="username">
                <p>Demola Daniels</p>
              </div>
              <p class="center">Metadata Analyst</p>
            </div>
          </div>

          <!-- USER NAME END  -->
          <br /><br /><br /><br />
        </div>

        <!-- NAVIGATION  LINKS STARTS-->
        <ul>
          <li>
            <a href="{% url 'Authy:profile' %}"
              ><img src="{% static 'media/user.png' %}" alt="" /> &nbsp;&nbsp; Profile</a
            >
          </li>
          <li>
            <a href="{% url 'Authy:dashboard' %}"
              ><img src="{% static 'media/report-columns.png' %}" alt="" />&nbsp;&nbsp;&nbsp;
              Dashboard
            </a>
          </li>
          <li>
            <a href="{% url 'Authy:upload' %}"
              ><img src="{% static 'media/upload.png' %}" alt="" /> &nbsp; Upload & Extract</a
            >
          </li>
          <li>
            <a class="active" href="{% url 'Authy:metamodal' %}"
              ><img
                src="{% static 'media/bookmark-empty-white.png' %}"
                alt=""
              />&nbsp;&nbsp;&nbsp;Metadata Library</a
            >
          </li>
        </ul>
        <br /><br /><br /><br /><br />
        <!-- NAVIGATION LINKS ENDS-->

        <!-- LOGOUT BUTTON  -->
        <ul>
          <li>
            <a href="{% url 'Authy:logout' %}"
              ><img src="{% static 'media/log-out.png' %}" alt="" /> &nbsp;&nbsp; Logout</a
            >
          </li>
        </ul>
        <!-- LOGOUT BUTTON ENDS  -->
        <br /><br /><br />
      </div>
      <!-- NAVIGATION BAR STARTS-->
      <div class="flex-child green">
        <br /><br /><br />
        
       
          
           
      
          <br />
        </tr>

        <br /><br />
        <table id="table_deco">
          <tr class="rows">
            <td> <a href="{% url 'Authy:upload' %}"><p class="header"> <img src="{% static 'media\Vector.png' %}" alt="arrow" /> File Metadata</p></td></a>
          
          </tr>
          {% if metadata %}
            {% for data in metadata %}
            <tr class="rows">
              <td>{{ data.tag_name }}</td>
              <td class="value">{{ data.tag_value }}</td>
            </tr>
            {% endfor %}
          {% endif %}
          
          <tr class="rows">
            <td class="btn_items">
              <br /><a href="#"
              ><button class="Save_btn">Save to Library</button></a>
            </td>
            <td class="btn_items">
              <div class="value">
                <img src="{% static 'media/download-square-outline.svg' %}" alt="download" />
                <img src="{% static 'media/share-android.svg' %}" alt="share" />
                <img src="{% static 'media\Embed.svg' %}" alt="embedded" />
              </div>
            </td>
          </tr>
        </table>
        
      </div>
    </div>
    {% endblock %}
  </body>
</html>
