@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
  }
body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: #F6F6F6;
    margin: 0;
}
.container{
    background: #F6F6F6;
    padding: 0 100px;
    margin: 0 auto;
    height: auto;
    width: 1440px;
    max-width: 100%;
    overflow: hidden;
}
input[type=text], input[type=password], input[type=email]{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 187px;
    width: 350px;
    height: 40px;
    border: 2px solid #D0D0D0;
    border-radius: 4px;
    color: #2A2A2A;
    font-size: 14px;
    background: #F6F6F6;
}
label{
    margin-bottom: 10px;
    white-space: nowrap;
}
label.lbl{
    color: #2A2A2A;
}
.rem{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 52px;
    width: 315px;
    height: 16px;
    white-space: nowrap;
}
.password {
    position: relative;
    margin-bottom: 0.7em;
    font-size: 14px;
}
input, label{
    display: block;
}
label.abcd {
    margin-left: 1.6em;
    display: block;
    position: relative;
    margin-top: -1.2em;
    line-height: 1.2em;
    color: #ADADAD;
    font-size: 14px;
}
h1{
    text-align: left;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    color: #454545;
}
a{
    color: #196DDC;
    text-decoration: none;
}
a:hover{
    color: #FC9242;
}
.bigger{
    font-size: 24px;
}
label, p{
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}
p{
    color: #8B8B8B;
}
span{
    display: block;
    clear: both;
    color: #ADADAD;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;
    margin-top: -7px;
    width: 100%;
}
.img1{
   position: absolute;
   left: 50.56%;
   right: 8.33%;
   top: 10.02%;
   bottom: 27.73%;
}
.img2{
   left: 50.56%;
   right: 8.33%;
   top: 10.02%;
   bottom: 27.73%;
   margin-left: -190px;
   position: absolute;
}
.box{
   margin-bottom: 140px;
   margin-left: 15px;
}
.logo{
    padding: 30px;
    margin-left: -15px;
}
input::placeholder{
    color: #ADADAD;
}
input:focus, input:hover{
    outline: none;
    border: 2px solid #196DDC;
    border-radius: 4px;
}
label:hover{
    cursor: pointer;
}
.btn-primary{
    padding: 6px 139.5px;
    gap: 69px;
    width: 350px;
    height: 56px;
    background: #196DDC;
    border-radius: 4px;
    border: none;
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}
.btn-primary:focus {
    background-color: #082449;
}
.btn-primary:hover {
    background: #114993;
    color: #FFFFFF;
}
.center-box{
    margin: auto;
    width: 28%;
    align-items: center;
    justify-content: center;
}
.sized{
    white-space: nowrap;
}
.arrow{
    width: 90%;
    margin: auto;
}
.arrow:hover, .bck:hover{
    color: #FC9242;
}
.bck{
    margin-left: 3.0em;
    margin-top: -1.5em;
    line-height: 1.2em;
    font-size: 17px;
    white-space: nowrap;
}
.arr{
    font-size: 30px;
}

@media screen and (max-width: 600px){
    body{
        width: 428px;
        height: 926px;
    }
    .container{
        padding: 30px;
    }
    .img1, .img2{
        display: none;
    }
    .flex{
        display: inline;
        overflow: hidden;
    }
    .box{
        margin-top: 100px;
    }
    .center-box{
        margin-top: 100px;
        margin-left: 19px;
    }

}