
*{
    box-sizing: border-box;
    padding:0px ;
    margin: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
}
body{
    display: flex;
    background-color: #E5E6E6;
}
#logo{
    position: relative;
    width: 15.375 vw;
    height: 56px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 42px;
    margin-left: 42px;
}

#support_button{
    text-decoration: none;
}
#log{
    text-decoration: none;
}
#dashboard_details{
    position:relative;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF;
    
}
#user_profile{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 172px;
}
#top_sidebar{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
#topthird{
    background: blue;
    display: flex;
    align-content: center;
    align-items: center;

}
#profile_image{
    width: 112px;
    border-radius: 112px;
    border-top: 4px solid #FC7C1C;
    border-left: 4px solid transparent;
    border-right: 4px solid #FC7C1C;
    border-bottom: 4px solid transparent;
    padding: 5px;
    margin: 4px;
    align-self: center;
}
#profile_image>img{
    width: 100%;
    border-radius: 100%;
}
#username{
    color: #196DDC;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}
#jobtype{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #2A2A2A;
}
#second_part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 348px;
    margin-top: 40px;
    margin-left: 48px;
    
}
#details{
    display: flex;
    flex-direction: row;
    align-self: baseline;
    align-items:center;
    width: 346px;
    color: #196DDC;

}

#icon{
    margin: 8px;
}
#text{
font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #196DDC;
text-decoration: none;
}
#bottom_sidebar{
    position: relative;
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    justify-content: space-around;
    
}
#support_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
    padding-bottom: 200px;
    width: 188px;
    left: 50px;
}
#support_image img{
    width: 188px;
    height: 188px;
}
#support_button input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    margin-top: 24px;
    width: 188px;
    border: 0px;
    color: #FFFFFF;
    background: #196DDC;
    border-radius: 4px;
}
#logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #196DDC;
    text-decoration: none;
}
#main_dashboard{
    position: relative;
    margin: 42px;
    width: 100%;
}
#logo{
    display: flex;
}
#close_icon{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}
#first{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 0px;
    margin-bottom: 56px;
}
#search_bar{
    display: flex;
    flex-direction: row;
    width: 582px;
    align-items: center;
    padding: 24px 420px 24px 32px;
    background: #FFFFFF;
    box-shadow: 0px 3px 14px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
#search_icon{
    width: 19px;
    margin: 10px;
}
#search_input input{
    height: 50px;
    width: 500px;
    border: none;
}
#greeting{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-left: 32px;
    margin-right: 16px;

}
#image_display img{
    width: 40px;
    border-radius: 100%;
    margin: 10px;
}
#welcome_message{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    width: 140px;
    color: #196DDC;
}
#notification{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 108px;
    padding: 15px;
    background: #196DDC;
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    justify-content: space-between;

}
#second{
    display: flex;
    flex-direction: row;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    align-items: center;
    color: #196DDC;
    margin-bottom: 48px;
}
#vector{
    margin-right: 30px;
    display: none;
}

#num{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#num p{
    margin: 5px;
}
#num>p:hover{
    text-decoration: underline;
    cursor: pointer;
}
#third{
    margin-bottom: 91px;
    box-shadow: 10px 8px 10px 8px rgba(0, 0, 0, 0.14);
}
#fourth{
    border: 1px solid #D1E2F8;
    padding: 24px;
    background-color: #FFFFFF;

}
#table_name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#tablename{
    color: #0D376E;
    font-size: 20px;
    font-size: 500;

}
#tablesummary{
    color: #0D376E;
    font-weight: 400;
    font-size: 16px;
}
#item_headings{
<<<<<<< HEAD
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
=======
   
    display: flex;
    flex-direction: row;
>>>>>>> 44cd9287a61f85f8bec434e3091517c6816da0a4
    background: #FEE5D2;
    padding: 24px;
}
#item_headings>div{
<<<<<<< HEAD
    width: 20%;
=======
    width: 100%;
>>>>>>> 44cd9287a61f85f8bec434e3091517c6816da0a4
}
#items{
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    justify-content: space-between;
=======
>>>>>>> 44cd9287a61f85f8bec434e3091517c6816da0a4
    padding-right: 24px;
    padding-left: 24px;
    border-bottom: 1px solid #B2CEF3;
    background: #FFFFFF;
    text-align: left;
<<<<<<< HEAD
    align-items: center;
=======
>>>>>>> 44cd9287a61f85f8bec434e3091517c6816da0a4
    color: #0D376E;
}

#checkbox>input{
    width: 24px;
    height: 24px;
<<<<<<< HEAD
=======
    display: none;
>>>>>>> 44cd9287a61f85f8bec434e3091517c6816da0a4
    
}
#items:last-child{
    border: none;
}
#export{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#items>div{
    width: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.active{
    background-color: #196DDC;
    color: white;
    
} 
.active>p{
    color: white;
}
#items>#filesize{
    text-align: center;
}
<<<<<<< HEAD


=======
#web_hidden_header{
    display: none;
}
#table_setting{
    display: none;
}

/* Profile page design*/

#profile{
    width: 100%;
   text-align: center;
}
#heading{
    color: #196DDC;
}



/* moile view*/
>>>>>>> 44cd9287a61f85f8bec434e3091517c6816da0a4
@media screen and (max-width: 600px) {
    body{
        width: 100%;
    }
    #white_logo{
        width:80%
    }
    #close_icon{
        display: block;}
    
    #dashboard_details{
        display: none;
    }
    #first{
        display: none;
    }
    #support_section{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    #vector{
        margin-right: 30px;
        display: block;
    }
<<<<<<< HEAD
    
    

  }
=======
    #second>div{
        font-size: 24px;
    }
    #web_hidden_header{
        display: block;
    }
    #export>#download{
        display: none;
    }
    #export>#share{
        display: none;
    }
    #export>#delete{
        display: none;
    }
    
    #export>#table_setting{
        display: block;
    }
    #filesize{
        grid-area: filesize;
        font-size: 12px;
    }
    #dateuploaded{
      grid-area: upload;
      font-size: 12px;
    }
    #checkbox{
        display: none;
    }
    #filename{
        grid-area: filename;
        
    }

    #items{
        display: grid;
        grid-template-areas:
        'filename filename export '
        'upload filesize   export';
        grid-gap: 1px;
        justify-items: start;
    }
    #items>div{
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 5px;
    }
    #export{
    grid-area: export;
    }
    #item_headings>#dateuploaded{
        display: none;
      }
      #item_headings>#filesize{
        display: none;
      }
  }
  
>>>>>>> 44cd9287a61f85f8bec434e3091517c6816da0a4
